# Analyzing arrival delays between two airports using a .csv data file and pandas operations

## First, import numpy and pandas into namespaces.

In [1]:
import numpy as np
import pandas as pd

## Then, import the .csv file with airline arrival delay data.

In [4]:
df = pd.read_csv('week3_arrivaldelays_project.csv')

In [5]:
df

  airline   arrival_city  ontime_count  delayed_count
0  alaska    los angeles           497             62
1  alaska        phoenix           221             12
2  alaska      san diego           212             20
3  alaska  san francisco           503            102
4  alaska        seattle          1841            305
5  amwest    los angeles           694            117
6  amwest        phoenix          4840            415
7  amwest      san diego           383             65
8  amwest  san francisco           320            129
9  amwest        seattle           201             61

## I want to add a column showing percent delayed for each series.
### I will create a series composed of values from the data frame
### Then I will add a column to the data frame called 'percent_late'

In [25]:
s = (df['delayed_count'] / (df['delayed_count'] + df['ontime_count']))

In [26]:
s

0    0.110912
1    0.051502
2    0.086207
3    0.168595
4    0.142125
5    0.144266
6    0.078972
7    0.145089
8    0.287305
9    0.232824
dtype: float64

In [47]:
df['percent_late'] = s

In [48]:
df

  airline   arrival_city  ontime_count  delayed_count  percent_late
0  alaska    los angeles           497             62      0.110912
1  alaska        phoenix           221             12      0.051502
2  alaska      san diego           212             20      0.086207
3  alaska  san francisco           503            102      0.168595
4  alaska        seattle          1841            305      0.142125
5  amwest    los angeles           694            117      0.144266
6  amwest        phoenix          4840            415      0.078972
7  amwest      san diego           383             65      0.145089
8  amwest  san francisco           320            129      0.287305
9  amwest        seattle           201             61      0.232824

## Now I want to find the airline and arrival city which had the highest percent late.

In [82]:
df.loc[df['percent_late'].idxmax(), ['airline', 'arrival_city']]

airline                amwest
arrival_city    san francisco
Name: 8, dtype: object

## We can see that amwest to san francisco had the highest percent late flights.